<div *ngIf="isFormReady">
  <form class="form" [formGroup]="formCourse" (submit)="submit(formCourse)">

      <div class="form-row">
        <label for="titleNameID" class="form-row-title">Title</label>
        <input
          class="form-row-data form-row-input"
          formControlName="titleName"
          [ngClass]="setErrorClass('titleName')"
          type="text"
          id="titleNameID"
        />
        <span  class="form-row-errors" *ngIf="displpayErrorMessage('titleName')">
          <span *ngIf="titleName?.errors.required">Please enter the course title.</span>
          <span *ngIf="titleName?.errors.minlength">The title must be longer than 3 characters.</span>
          <span *ngIf="titleName?.errors.maxlength">The title must be no longer than 50 characters.</span>
        </span>
      </div>

      <div class="form-row">
        <label for="rowDescription" class="form-row-title">Description</label>
        <textarea
          class="form-row-data form-row-input"
          [ngClass]="setErrorClass('descriptionName')"
          type="text"
          id="rowDescription"
          rows="7"
          formControlName="descriptionName">
        </textarea>

        <span  class="form-row-errors" *ngIf="displpayErrorMessage('descriptionName')">
          <span *ngIf="descriptionName?.errors.required">Please enter the course description.</span>
          <span *ngIf="descriptionName?.errors.maxlength">The Description must be no longer than 5 characters.</span>
        </span>
      </div>

    <div class="form-row">
      <label for="rowDate" class="form-row-title">Date</label>
      <div class="form-row-data">
        <app-date-format
          id="rowDate"
          [invalid]="displpayErrorMessage('startDateName') || startDateName?.errors?.dateError"
          formControlName="startDateName"
        ></app-date-format>
        <span class="form-row-errors" *ngIf="startDateName?.errors?.dateError.period">Set start date please, it shouldn't be eralier than 14 days ago</span>
      </div>
    </div>

    <div class="form-row">
      <label for="durationID" class="form-row-title">Duration</label>
      <div class="form-row-data">
        <app-duration
          id="durationID"
          [invalid]="setErrorClass('durationName')"
          formControlName="durationName"
          [nameOption]="durationName">
        </app-duration>
        <span class="form-row-duration-format">{{ durationName.value | durationFormat }}</span>
      </div>
      <span  class="form-row-errors" *ngIf="displpayErrorMessage('durationName')">
        <span *ngIf="durationName?.errors.required">requered (doesnt work)</span>
        <span *ngIf="durationName?.errors?.rangeError">The range must bebetween 0 and 500 min</span>
      </span>
    </div>



      <div class="form-row">

        <span class="form-row-title">Authors</span>
        <div class="form-row-data author-container">
          <div class="author-checkbox">
            <app-list-authors formArrayName="authorsName" [authors]="authorsName.value"></app-list-authors>
            <span *ngIf="authorsName?.errors?.listError">List can't be empty</span>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-row-btns form-row-btns-submit">
          <button type="submit" class="form-row-btn" [disabled]="formCourse.invalid" (click)="saveData()">Save</button>
          <button class="form-row-btn" (click)="returnBack()">Cancel</button>
        </div>
      </div>

      <!--<div>-->
        <!--{{ formCourse.value | json}}-->
      <!--</div>-->

  </form>
</div>
