@import "../../styles/mixins";
@import "../../styles/variable";

$primary-color: #ccc;
$font-color: #777;

header {
  border-bottom: 1px solid $primary-color;
  margin-bottom: 20px;
  color: $font-color;
}

.header {
  &-container {
    @include wrap-container;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-login {
    text-align: right;
  }

  &-logo {
    display: inline-block;;
    width: 50px;
    cursor: pointer;

    &-img {
        padding: 5px;
    }
  }

  &-button {
    background: none;
    border: none;
    cursor: pointer;

    color: inherit;
    &:hover {
      color: #000;
    }
  }
}
