@import "../../styles/mixins";
@import "../../styles/variable";

$button-width: 100px;
$padding: 150px;

.login {
  @include wrap-container;
  display: flex;
  justify-content: center;
  align-items: center;

    &-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-row {
      position: relative;
      margin: 10px 0;

      &-label {
        display: inline-block;
        width: $padding;
      }

      &-errors {
        position: absolute;
        top: 0;
        left: 400px;
        width: 200px;
        max-width: 200px;
        color: $error-font-color;
      }
    }

    &-submit {
      padding-left: $padding;
    }
}

.btn {
  @include button-primary;
  width: $button-width;
  margin: 5px 0;
}
