<div class="login">
  <form class="login-form">
    <div class="login-row">
      <label class="login-row-label" for="loginId">Username:</label>
      <input type="text" placeholder="login" value="Warner" #login id="loginId">
      <span>*enter</span>
    </div>
    <div class="login-row">
      <label class="login-row-label" for="passwordId">Password:</label>
      <input type="password" placeholder="password" value="ea" #password id="passwordId">
      <span>*enter</span>
    </div>
    <div class="login-row login-submit">
      <button class="btn" (click)="loginUser({ login: login.value, password: password.value })">ok</button>
    </div>
  </form>
</div>
