.breadcrumb {
  list-style-type: none;

  li, li:first-child {
    display: inline-block;

    a {
      text-decoration: none;
    }

    &:after {
      content: '\003e';
      padding-left: 5px;
    }
  }

  li:last-child {
    a {
      pointer-events: none;
    }

    &:after {
      content: '';
      padding-left: 0;
    }
  }

  &-items {
  }
}
