@mixin wrap-container {
    width: 90%;
    margin: 0 auto;
}

@mixin button-primary {
  padding: 5px 10px;
}

@mixin error-message {
  &:focus {
    outline: 1px solid $error-font-color;
  }
}

@mixin input-settings {
  display: inline-block;
  padding: 5px;
}
