.course-list {
   list-style-type: none;

  &_empty {
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
  }
}

.load-more {
  width: 100px;
  height: 25px;
  text-align: center;
}
