<app-toolbox (searchText)="handleFilter($event)"></app-toolbox>
<div class="course-list_empty" *ngIf="courseList && !courseList.length">No Data. Feel free to add new course.</div>
<ul class="course-list" *ngIf="(filteredList | async) as courseList">
  <li *ngFor="let course of courseList | orderItemsBy : filterField : isAsc">
    <app-course-item
      [item]="course"
      (deleteCourse)="deletedCourse($event)"
    >
    </app-course-item>
  </li>
</ul>
<div class="load-container">
  <input type="button" class="load-more" value="load more" (click)="appendMoreCourses()">
</div>
