@import "../../../../../styles/mixins";

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 10px;

  &-area {
    display: inline-block;
    padding: 10px 0;
    &.wide {
      display: block;
    }
  }

  &-title {
    color: #777;
  }

  &-description {
    flex-shrink: 3;
    margin: 5px;
  }

  &-actions {
    max-width: 200px;
    text-align: right;
  }
}

.btn {
  @include button-primary;
  min-width: 100px;
  margin: 5px 0;
}
