<div class="item" [styled]="item.startDate">
  <div class="item-description">
    <div class="item-area">
      <span class="item-title">Video course: </span>
      <span class="item-value">{{ item.name | uppercase }}</span>
    </div>
    <div class="item-area">
      <span class="item-title">Duration: </span>
      <span class="item-value" [ngClass]="{'top-rated': item.rate}">{{ item.duration | durationFormat }}</span>
    </div>
    <div class="item-area">
      <span class="item-value">{{ item.startDate | date }}</span>
    </div>
    <div class="item-area wide"><span class="item-value">{{ item.description }}</span></div>
  </div>
  <div class="item-actions">
    <button class="btn" (click)="onEdit(item.id)">Edit course</button>
    <button class="btn" (click)="onDelete(item)">Delete</button>
  </div>
</div>

